body {
	min-width: 300px;
}

button {
	border: 0;
	min-width: 35px;
	min-height: 35px;
}

button.selected {
	background-color: black;
	color: white;
}

button.not-selected {
	background-color: #6aaa64;
	color: black;
}
